# Python
__pycache__/
*.py[cod]
*$py.class
*.so
# .env

# Django
*.log
*.pot
*.sqlite3
*.sqlite-journal
player.csv
# Virtual environments
venv/
env/

# AWS
*.pem
supabase password.txt
set proper sequence and delete and insert order.txt
league/static/league/img/*