# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Django
*.log
*.pot
*.sqlite3
*.sqlite-journal

# Virtual environments
venv/
env/

# AWS
*.pem

# oracle file notes (not to track)
notes to connect to AWS.txt

# Ignore Django settings file with local configurations
# iccl_league_app/settings.py

Deploy a Django web app with Nginx to Amazon EC2.mp4